<%= form_for(calendar) do |f| %>
  <% if calendar.errors.any? %>
    <div class="row">
      <div id="error_explanation" class="alert alert-danger col-12">
        <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

        <ul>
        <% calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="field form-row form-group">
        <%= f.label :date, "Fecha:", class: "col-12" %>
        <%= f.datetime_select :date, {}, class: "form-control col" %>
      </div>

      <div class="field form-group">
        <%= f.label :genre %>
        <%= f.text_field :genre, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Subir", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
