<h1>Calendarios</h1>

<div class="row align-items-end">
  <% @calendars.each do |calendar| %>
    <div class="col-4">
      <h2><%= calendar.name %></h2>
      <p class="
        <%=
          if calendar.genre == 'evento'
            'text-success'

          elsif calendar.genre == 'cumpleaños'
            'text-warning'

          else 
            'text-primary'

          end
        %>
      ">
        <%= calendar.genre %>
      </p>
      <p><%= calendar.date %></p>
      <%= link_to 'Show', calendar, class: "btn btn-success" %>
      <%= link_to 'Edit', edit_calendar_path(calendar), class: "btn btn-info" %>
      <%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
<hr>
<div>
  <%= link_to 'New Calendar', new_calendar_path, class: "btn btn-primary" %>
</div>
